body {
    background-color: beige;
    font-family: Tiro Gurmukhi, serif;
}

li {
    display: inline-flexbox;
}

.deleteBtn {
    background-color: rgb(255, 104, 104);
    display: block;
}

#addBtn {
    background-color: rgb(95, 193, 95);
}

.completeBtn {
    background-color: skyblue;
}

.completeMarker {
    color: darkblue;
}

.complete {
    background-color: skyblue;
    font-style: italic;
}

table {
    table-layout: fixed;
    /* width: 70%; */
    border-collapse: collapse;
    border: 1px solid darkblue;
}

td {
    padding: 15px;
    border-bottom: solid darkblue 1px;
}

#col1 {
    width: auto;
}

#col2 {
    width: 20%;
}

#col3 {
    width: 20%;
}